{% extends 'layout.html.twig' %}

{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs d-flex">
                    <a href="/">Accueil</a>
                    <p class="arrow d-inline-block"><img src="/assets/images/arrow.png">
                        <span>Profil</span>
                    </p>
                </div>

                <div class="content">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-4 d-flex flex-column">
                            <h2>PROFIL</h2>

                            <form class="contact-form" method="post" accept-charset="UTF-8">
                                <!-- firstname -->
                                <label for="firstname">Prénom</label>
                                <div class="input-group mb-3 flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-solid fa-user" style="color: #9198AF;"></i>
                                    </span>
                                    <input type="text" id="firstname" name="firstname" class="form-control mb-0"
                                           placeholder="Prénom..." value="{{ user.firstname }}"
                                           aria-label="firstname" aria-describedby="basic-addon1"/>
                                </div>
                                {% if error.firstname is not empty %}
                                    <p style="color: red">{{ error['firstname'] }}</p>
                                {% endif %}

                                <!-- lastname -->
                                <label for="lastname">Nom</label>
                                <div class="input-group mb-3 flex-nowrap">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="fa-solid fa-user" style="color: #9198AF;"></i>
                                </span>
                                    <input type="text" id="lastname" name="lastname" class="form-control mb-0"
                                           placeholder="Nom..." value="{{ user.lastname }}" aria-label="Username"
                                           aria-describedby="basic-addon1"/>
                                </div>
                                {% if error.lastname is not empty %}
                                    <p style="color: red">{{ error['lastname'] }}</p>
                                {% endif %}


                                <!-- Email input -->
                                <label for="email">Email</label>
                                <div class="input-group mb-3 flex-nowrap">
                                    <span class="input-group-text" id="basic-addon1">
                                        <i class="fa-regular fa-envelope" style="color: #9198AF;"></i>
                                    </span>
                                    <input type="email" id="email" name="email" class="form-control mb-0"
                                           placeholder="email..." aria-label="Username" aria-describedby="basic-addon1"
                                           value="{{ user.email }}">
                                </div>
                                {% if error.email is not empty %}
                                    <p style="color: red">{{ error['email'] }}</p>
                                {% endif %}


                                <!-- Birtday input -->
                                <label for="birthday">Date de naissance</label>
                                <div class="input-group mb-3 flex-nowrap">
                                <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-cake-candles" style="color: #9198AF;"></i>
                                </span>
                                    <input type="date" id="birthday" name="birthday" class="form-control mb-0"
                                           placeholder="Date de naissance..." value="{{ user.birthday }}"
                                           aria-label="Username" aria-describedby="basic-addon1"/>
                                </div>
                                {% if error.birthday is not empty %}
                                    <p style="color: red">{{ error['birthday'] }}</p>
                                {% endif %}

                                <button type="submit" class="btn btn-outline-warning d-grid gap-2 col-6 mx-auto">Mise à jour
                                </button>
                            </form>

                        </div>
                        <div class="col-md-7 col-md-offset-1 ">
                            <h2>HISTORIQUE</h2>
                            {% if bookingUser %}
                                {% for bookingUser in bookingUser %}
                                    <div class="d-flex">
                                        <div class="card mb-3" style="max-width: 450px;">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="/assets/images/{{ bookingUser.image }}"
                                                         class="img-fluid rounded-start" alt="">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h3 class="card-text my-1 mb-3">Nom de la réservation
                                                            : {{ bookingUser.nameBooking }}</h3>
                                                        <h5 class="card-text my-1">Numéro de réservation : {{ bookingUser.booking_id }}</h5>
                                                        <h5 class="card-text my-1">Film : {{ bookingUser.title }}</h5>
                                                        <h5 class="card-text my-1">Nombre de place
                                                            : {{ bookingUser.numberPlace }}</h5>
                                                        <h5 class="card-text my-1">Date de la séance
                                                            : {{ bookingUser.startDate | date('d/m')}} à {{ bookingUser.startDate | date('h')}}h{{ bookingUser.startDate | date('i')}} </h5>
                                                        <h5 class="card-text my-1">Montant : {{ bookingUser.totalPrice}} € </h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h3>Vous n'avez pas de réservation</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
