{% extends 'layout.html.twig' %}

{% block content %}

    <section class="movieShow" id="clMovieShowDesc">
        <div class="container">
            <p class="text-danger">{{ erreur }}</p>
            <div class="breadcrumbs d-flex">
                <a href="/">Accueil</a>
                <p class="arrow d-inline-block"><img src="/assets/images/arrow.png">
                    <span>{{ cinemashow[0].title }}</span>
                </p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <figure class="movie-poster"><img class="img-thumbnail"
                                                          src="/assets/images/{{ cinemashow[0].image }}"
                                                          alt="affiche du film {{ cinemashow[0].title }}"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title text-uppercase">{{ cinemashow[0].title }}</h2>
                        <p class="arrow"><img src="/assets/images/arrow.png">Durée : {{ cinemashow[0].duration }} min
                        </p>
                        <h2 class="pt-2">Distribution</h2>
                        <ul class="starring">
                            <li><strong>Auteur:</strong> {{ cinemashow[0].author }}</li>
                            </li>
                        </ul>
                        <button href="#anchorSeance" class="btn btn-lg button" id="btn-viewSeances" spellcheck="true">
                            Voir les séances disponibles
                        </button>
                    </div>
                </div>
                <div class="entry-content mt-3">
                    <h2>Synopsis</h2>
                    <div class="row">
                        <p>{{ cinemashow[0].description }}</p>
                    </div>
                </div>
            </div>
            <h2 class="mt-3" id="anchorSeance">Les séances</h2>
            <div class="d-flex flex-row flex-wrap align-items-start">
                {% for cs in cinemashow %}
                <div class="content clSeanceFull flex-grow-1" id="clMovieSeance">
                    <div class="clSeanceDefault text-center mb-4">
                        <img src="/assets/images/zondicons_ticket.svg" alt="icon générique de ticket de cinéma">
                        <br>
                        <span
                            class="fw-bold">Séance du {{ cs.startDate|date('d') }}/{{ cs.startDate|date('m') }}</span>
                        <br>
                        <span class="fw">{{ cs.startDate|date('H:i') }} à {{ cs.endDate|date('H:i') }}</span>
                        <p>Salle 1</p>
                        {% if userData %}
                        {# Bouton déclancheur affichage div #}
                        <a class="button" id="{{ cs.id }}" role="button">Réserver</a>
                    </div>
                    <div class="d-flex flex-column" id="{{ cs.id }}">
                        <form method="post" name="booking_form">

                            {# Div avec les inputs #}
                            <div id="d-{{ cs.id }}" class="flex-column clSeancesInput"
                                 data-id="{{ cinemashow[0].id }}">
                                <div class="clSeanceInput">
                                    <div class="d-flex flex-column align-items-center">
                                        <span class="fw-bold">Tarif Normal</span>
                                        <div class="input-group col-md-6 my-3 flex-nowrap">

                                            {# Bouton - TARIF NORMAL #}
                                            <input type="hidden" value="{{ cs.id }}" name="csId">
                                            <input type="number" name="nbr_seat_0"
                                                   class="form-control form-control-sm">
                                            {# Bouton + TARIF NORMAL #}
                                        </div>
                                    </div>
                                </div>
                                <div class="clSeanceInput">
                                    <div class="d-flex flex-column align-items-center">
                                        <span class="fw-bold">Tarif -26</span>
                                        <div class="input-group col-md-6 my-3 flex-nowrap">

                                            {# Bouton - TARIF -26 #}
                                            <input type="hidden" value="{{ cs.id }}" name="csId">
                                            <input type="number" name="nbr_seat_25"
                                                   class="form-control form-control-sm">
                                            {# Bouton + TARIF -26 #}
                                        </div>
                                    </div>
                                </div>
                                <div class="clSeanceInput">
                                    <div class="d-flex flex-column align-items-center">
                                        <span class="fw-bold">Tarif -14</span>
                                        <div class="input-group col-md-6 my-3 flex-nowrap">

                                            {# Bouton - TARIF -14 #}
                                            <input type="hidden" value="{{ cs.id }}" name="csId">
                                            <input type="number" name="nbr_seat_50"
                                                   class="form-control form-control-sm">
                                            {# Bouton + TARIF -14 #}
                                        </div>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-lg btn-outline-warning">Valider</button>
                                </div>
                            </div>
                        </form>
                        {# <form method="post" name="booking_form">
                                <input type="hidden" value="{{ cs.id }}" name="csId">
                                <input type="number" name="nbr_seat_0">
                                <input type="number" name="nbr_seat_25">
                                <input type="number" name="nbr_seat_50">
                                <input type="submit" value="Valider">
                            </form> #}
                    </div>
                </div>
                {% else %}
                <a class="button" href="/user/login" role="button">Connectez-vous</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </section>
    <script>
        let buttons = document.querySelectorAll(".button");
        let divs = document.querySelectorAll(".clSeancesInput");

        //Caches les div contenant les inputs

        divs.forEach(function (div) {
            div.style.display = "none";
        });

        //Ajoutes des écouteurs de click sur les boutons

        buttons.forEach(function (button) {
            button.addEventListener("click", () => {
                const buttonId = button.id;
                const correspondingDiv = document.getElementById("d-" + buttonId);

                //affiche la div clické et cache les autres

                if (correspondingDiv) {
                    if (correspondingDiv.style.display === "none") {
                        console.log(buttonId);
                        correspondingDiv.style.display = "block";
                        divs.forEach(function (div) {
                            if (div.id != correspondingDiv.id) {
                                div.style.display = "none";
                            }
                        })
                    } else {
                        correspondingDiv.style.display = "none";
                    }
                }
            });
        });
    </script>
    <script>
        const buttonViewSeances = document.querySelector('#btn-viewSeances');
        const anchorViewSeances = document.querySelector('#anchorSeance');

        buttonViewSeances.addEventListener('click', function () {
            window.scrollTo(anchorViewSeances.offsetLeft, anchorViewSeances.offsetTop);
        });

    </script>

{% endblock %}
